name: CI

on:
  push:
    branches: ["dev"]
    paths:
      - 'app/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Increment Helm chart version
        run: |
          versionActuelle=$(grep '^version:' mychart/Chart.yaml | awk '{print $2}')
          clean=$(tr -d '"' <<<"$versionActuelle")
          IFS='.' read -r major minor patch <<< "$clean"
          minor=$((minor + 1))
          nouvelleVersion="$major.$minor.$patch"

          echo "nouvelleVersion=$nouvelleVersion" >> $GITHUB_ENV

          sed -i "s/^version:.*/version: $nouvelleVersion/" mychart/Chart.yaml
          sed -i "s/^appVersion:.*/appVersion: \"$nouvelleVersion\"/" mychart/Chart.yaml

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & push image
        
        run: |
          docker build -t bryamx26/flaskv2:${{ env.nouvelleVersion }} ./app
          docker push bryamx26/flaskv2:${{ env.nouvelleVersion }}

      - name: Push Helm version bump
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add mychart/Chart.yaml
          git commit -m "Update chart version [skip ci]"
          git push origin HEAD:dev

